<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <title>SecKillPlanList</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <!-- 页面标题 -->
        <div class="row" style="height:60px">
            <div class="col">
                <h4>秒杀计划列表</h4>
            </div>
            <div class="col-10" id='alertInfo'>

            </div>
        </div>

        <!-- 操作按钮 -->
        <div class="row">
            <div class="col" align="right">
                <button type="button" class="btn btn-success" ng-click="add()">添 加</button>
                <button type="button" class="btn btn-success" ng-click='onDelete()'>删 除</button>
            </div>
        </div>

        <!-- 数据区域 -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover" id="table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th scope="col"><input type="checkbox" id="cbxSelectAllOrCancel" ng-click="onSelectAllOrCancel()"></th>
                            <th scope="col" ng-hide={{true}}>ID</th>
                            <th scope="col">商品名称</th>
                            <th scope="col">开始时间</th>
                            <th scope="col">结束时间</th>
                            <th scope="col">价 格</th>
                            <th scope="col">当前库存</th>
                            <th scope="col">限购数量</th>
                            <th scope="col">创建时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listData">
                            <td><input type="checkbox"></td>
                            <td ng-hide={{true}}>{{x.id}}</td>
                            <th scope="row"><a href="SecKillPlanDetail.html?id={{x.id}}">{{x.goodsName}}</a></th>
                            <td>{{x.startTime}}</td>
                            <td>{{x.endTime}}</td>
                            <td>￥{{x.price}}</td>
                            <td>{{x.currentInventory}}</td>
                            <td>{{x.limitBuyNum}}</td>
                            <td>{{x.createTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../lib/jquery/jquery.3.2.1.js"></script>
    <script src="../lib/popper/popper.1.12.9.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/angular-1.7.5/angular.min.js"></script>
    <script src="../common/littleCatCommon.js"></script>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', ['$scope', '$http', function ($scope, $http) {
            $scope.goodsId = RequestUtil.getQueryParamByName('goodsId');

            // console.log("controller:$scope.goodsId",$scope.goodsId);

            if (StringUtil.isEmpty($scope.goodsId)) {
                $scope.goodsId = '';
            }

            $scope.getData = function () {
                $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'seckillplan/getList4WebApp?goodsId=' + $scope.goodsId)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.listData = result.data.data

                        console.log(result);
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.onSelectAllOrCancel = function () {
                TableUtil.selectAllOrCncel('table', !$scope.selectAll, 1, $scope.listData.length);
                $scope.selectAll = !$scope.selectAll;
            };

            $scope.add = function () {
                window.location = "SecKillPlanDetail.html?goodsId=" + $scope.goodsId;
            };

            //重置记录的选择状态
            $scope.resetSelectStatus = function () {
                document.getElementById('cbxSelectAllOrCancel').checked = false;
                $scope.selectAll = false;
            }


            //删除
            $scope.onDelete = function () {
                $scope.resetSelectStatus();
                AlertUtil.clearAlert('alertInfo');

                var ids = TableUtil.getSelectedIds('table', 1, 1, $scope.listData.length);

                if (ids == null || ids.length == 0) {
                    AlertUtil.dangerWithCloseButton('alertInfo', '请选择待处理的数据！', AlertUtil.defaultTimeout);
                    return;
                }

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'seckillplan/batchdelete', ids, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        console.log(result);
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            //页面初始化
            $scope.selectAll = false;
            $scope.getData();
        }]);
    </script>

</body>

</html>