<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <title>订单管理</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">



    <div class="container-fluid">



        <!-- 页面标题 -->
        <div class="row" style="height:60px">
            <div class="col">
                <h4>订单管理</h4>
            </div>
        </div>


        <!-- 操作按钮 -->
        <div class="row">
            <div class="col-3">
                <div class="input-group">
                    <input type="text" class="form-control is-valid" id="inputSearchName" placeholder="名称" ng-keyup="enterEvent($event)"
                        ng-model="search.name">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-success" ng-click="onSearch()">查 询</button>
                    </div>
                </div>
            </div>

            <div class="col" align="right">
                <button type="button" class="btn btn-success" ng-click="add()">添 加</button>
                <button type="button" class="btn btn-success" ng-click='onEnable()'>生 效</button>
                <button type="button" class="btn btn-danger" ng-click='onDisable()'>失 效</button>
            </div>
        </div>
        <hr />
        <!-- 数据区域 -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover" id="tableSupplierList">
                    <thead class="bg-info text-white">
                        <tr>
                            <th scope="col"><input type="checkbox" id="cbxSelectAllOrCancel" ng-click="onSelectAllOrCancel()"></th>
                            <th scope="col">序 号</th>
                            <th scope="col" ng-hide={{true}}>ID</th>
                            <th scope="col">名 称</th>
                            <th scope="col">备 注</th>
                            <th scope="col">创建时间</th>
                            <th scope="col">是否有效</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in supplierListData">
                            <td><input type="checkbox"></td>
                            <td>{{ $index + 1 }}</td>
                            <td ng-hide={{true}}>{{x.id}}</td>
                            <th scope="row"><a href="SupplierDetail.html?id={{x.id}}">{{x.name}}</a></th>
                            <td>{{x.remark}}</td>
                            <td>{{x.createTime}}</td>
                            <td>{{x.enable=='Y'?'是':'否'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">友情提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{modalContent}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确 定</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../lib/jquery/jquery.3.2.1.js"></script>
    <script src="../lib/popper/popper.1.12.9.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/angular-1.7.5/angular.min.js"></script>
    <script src="../common/littleCatCommon.js"></script>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope, $http) {
            $scope.search = {
                name: ''
            };

            $scope.getData = function () {
                var data = {
                    "condition": {
                        "logicType": "and",
                        "condItems": [
                            {
                                "fieldName": "name",
                                "opType": "like",
                                "value": $scope.search.name
                            }
                        ]
                    },
                    "pageParam": {
                        "pageSize": 40,
                        "pageIndex": 1
                    },
                    "sortFields": "createTime",
                    "sortType": "asc"
                };

                $http.post(CommonConfig.RestBaseUrl.CaoBaoService + 'supplier/getList', data, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.supplierListData = result.data.data

                        console.log(result);
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.onSelectAllOrCancel = function () {
                TableUtil.selectAllOrCncel('tableSupplierList', !$scope.selectAll, 1, $scope.supplierListData.length);
                $scope.selectAll = !$scope.selectAll;
            };

            $scope.add = function () {
                window.location = "SupplierDetail.html";
            };

            $scope.onSearch = function () {
                $scope.getData();
            };

            //重置记录的选择状态
            $scope.resetSelectStatus = function () {
                document.getElementById('cbxSelectAllOrCancel').checked = false;
                $scope.selectAll = false;
            }

            //置失效
            $scope.onDisable = function () {
                $scope.resetSelectStatus();

                var ids = TableUtil.getSelectedIds('tableSupplierList', 2, 1, $scope.supplierListData.length);

                if (ids == null || ids.length == 0) {
                    $scope.modalContent = '请选择待处理的数据！';
                    $("#myModal").modal('show');
                    return;
                }

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'supplier/batchdisable', ids, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        console.log(result);
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            //置生效
            $scope.onEnable = function () {
                $scope.resetSelectStatus();

                var ids = TableUtil.getSelectedIds('tableSupplierList', 2, 1, $scope.supplierListData.length);

                if (ids == null || ids.length == 0) {
                    $scope.modalContent = '请选择待处理的数据！';
                    $("#myModal").modal('show');
                    return;
                }

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'supplier/batchenable', ids, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        console.log(result);
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });


            };

            $scope.enterEvent = function (e) {
                var keycode = window.event ? e.keyCode : e.which;
                if (keycode == 13) {
                    $scope.onSearch();
                }
            };

            //页面初始化
            $scope.onInit = function () {
                $scope.selectAll = false;
                $scope.getData();
            };

            $scope.onInit();
        });
    </script>
</body>

</html>