<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

  <title>个人信息维护</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
      <div class="col-2">
        <h4>个人信息维护</h4>
      </div>

      <div class="col-10" id='alertInfo' style="height:60px">

      </div>
    </div>

    <form>
      <div class="form-group row">
        <label for="username" class="col-2 col-form-label">账 号</label>
        <div class="col-4">
          <input type="text" class="form-control" id="username" readonly ng-model="detailInfo.username">
        </div>
        <label for="name" class="col-2 col-form-label">名 称</label>
        <div class="col-4">
          <input type="text" class="form-control" id="name" placeholder="昵 称" ng-model="detailInfo.name">
        </div>
      </div>
      <div class="form-group row">
        <label for="wxCode" class="col-2 col-form-label">微信号</label>
        <div class="col-4">
          <input type="text" class="form-control" id="wxCode" ng-model="detailInfo.wxCode">
        </div>
        <label for="email" class="col-2 col-form-label">邮 件</label>
        <div class="col-4">
          <input type="email" class="form-control" id="email" ng-model="detailInfo.email">
        </div>
      </div>

      <div class="form-group row">
        <label for="mobile" class="col-2 col-form-label">手机号</label>
        <div class="col-4">
          <input type="text" class="form-control" id="mobile" ng-model="detailInfo.mobile">
        </div>

      </div>


      <div class="form-group row">
        <div class="col-sm-11">
          <button type="button" class="btn btn-primary" ng-click="saveData()">确 定</button>
          <button type="button" class="btn btn-secondary" ng-click="cancel()">取 消</button>
          <button type="button" class="btn btn-secondary" ng-click="changepwd()">修改密码</button>
        </div>
      </div>

    </form>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">友情提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{modalContent}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">确 定</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../lib/jquery/jquery.3.2.1.js"></script>
  <script src="../lib/popper/popper.1.12.9.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/angular-1.7.5/angular.min.js"></script>
  <script src="../common/littleCatCommon.js"></script>

  <script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {

      
      $scope.getDetailInfo=function(){
        $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'sys/operator/getbyid?id='+sessionStorage.getItem("currentUserId"))
          .then(function (result) {  //正确请求成功时处理
            $scope.detailInfo = result.data.data[0];


          }).catch(function (result) { //捕捉错误处理
            console.log(result);
          });
      };

      $scope.cancel = function () {
        window.location = 'UserList.html';
      };

      $scope.saveData = function () {

        

        $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'sys/operator/modify', $scope.detailInfo, CommonConfig.httpReqConfig)
          .then(function (result) {  //正确请求成功时处理
            if (result.data.code == "NONE_ERROR") {
              $scope.modalContent = '修改个人信息成功！';
              $("#myModal").modal('show');

              return;
            }

            if (result.data.code == "DuplicateError") {
              $scope.modalContent = '修改个人信息失败，请注意：微信号、手机、邮件不能与别人相同！';
              $("#myModal").modal('show');

              return;
            }

            $scope.modalContent = '修改个人信息失败！';
            $("#myModal").modal('show');


          }).catch(function (result) { //捕捉错误处理
            console.log(result);
          });
      };

      $scope.changepwd = function () {
        window.location = "changepwd.html";
      };

      if (StringUtil.isEmpty(sessionStorage.getItem("currentUserId"))) {//尚未登录
        window.location = '../main/login.html';
      }

      $scope.getDetailInfo();

    }]);


  </script>
</body>

</html>