<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <title>用户管理</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <!-- 页面标题 -->
        <div class="row" style="height:60px">
            <div class="col">
                <h4>用户管理</h4>
            </div>
            <div class="col-10" id='alertInfo'>

            </div>
        </div>

        <!-- 操作按钮 -->
        <div class="row">
            <div class="col" align="right">
                <button type="button" class="btn btn-success" ng-click='onAdd()'>添 加</button>
                <button type="button" class="btn btn-success" ng-click='onEnable()' ng-hide="needHideEnable">生 效</button>
                <button type="button" class="btn btn-danger" ng-click='onDisable()' ng-hide="needHideDisable">失 效</button>
            </div>
        </div>
        <br />
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="enable-tab" data-toggle="tab" href="#enable" ng-click='onEnableTabClick()'
                    role="tab" aria-controls="enable" aria-selected="false">有 效</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="disable-tab" data-toggle="tab" href="#disable" ng-click='onDisableTabClick()'
                    role="tab" aria-controls="disable" aria-selected="false">已失效</a>
            </li>
        </ul>
        <br />

        <!-- 数据区域 -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover" id="table">
                    <thead class="bg-info text-white">
                        <tr>
                            <th scope="col"><input type="checkbox" id="cbxSelectAllOrCancel" ng-click="onSelectAllOrCancel()"></th>
                            <th scope="col" ng-hide={{true}}>ID</th>
                            <th scope="col">登录账号</th>
                            <th scope="col">名称</th>
                            <th scope="col">微信号</th>
                            <th scope="col">邮件</th>
                            <th scope="col">手机</th>
                            <th scope="col">创建时间</th>
                            <th scope="col">是否有效</th>
                            <th scope="col">操 作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listData">
                            <td><input type="checkbox"></td>
                            <td ng-hide={{true}}>{{x.id}}</td>
                            <th scope="row"><a href="#" ng-click="getDetailData(x.id)">{{x.username}}</a></td>
                            <td>{{x.name}}</td>
                            <td>{{x.wxCode}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.mobile}}</td>
                            <td>{{x.createTime}}</td>
                            <td>{{x.enable=='Y'?'是':'否'}}</td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm" ng-click="onResetpwd(x.id)">密码重置</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">友情提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{modalContent}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确 定</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../lib/jquery/jquery.3.2.1.js"></script>
    <script src="../lib/popper/popper.1.12.9.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/angular-1.7.5/angular.min.js"></script>
    <script src="../common/littleCatCommon.js"></script>

    <script>

        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope, $http) {

            $scope.currentUserId = sessionStorage.getItem("currentUserId");

            if (StringUtil.isEmpty($scope.currentUserId)) {
                window.location = '../main/login.html';
                return;
            }

            if ($scope.currentUserId != "admin") {
                window.location = '../default/NoPermission.html';
                return;
            }


            // 城市维护窗口关闭事件
            $('#myModal').on('hidden.bs.modal', function (e) {
                $scope.getData();
            });

            $scope.getData = function () {

                var data = {
                    "condition": {
                        "logicType": "and",
                        "condItems": [
                            {
                                "fieldName": "enable",
                                "opType": "equal",
                                "value": $scope.enable
                            }
                        ]
                    },
                };

                $http.post(CommonConfig.RestBaseUrl.CaoBaoService + 'sys/operator/getList', data, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.listData = result.data.data

                        console.log(result);
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                        alert(result.data.Message);
                    });
            };



            $scope.onSelectAllOrCancel = function () {
                TableUtil.selectAllOrCncel('table', !$scope.selectAll, 1, $scope.listData.length);
                $scope.selectAll = !$scope.selectAll;
            };

            //重置记录的选择状态
            $scope.resetSelectStatus = function () {
                document.getElementById('cbxSelectAllOrCancel').checked = false;
                $scope.selectAll = false;
            }

            //置失效
            $scope.onDisable = function () {
                $scope.resetSelectStatus();
                AlertUtil.clearAlert('alertInfo');

                var ids = TableUtil.getSelectedIds('table', 1, 1, $scope.listData.length);

                if (ids == null || ids.length == 0) {
                    $scope.modalContent = '请选择待处理的数据！！';
                    $("#myModal").modal('show');
                    return;
                }

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'sys/operator/batchdisable', ids, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        console.log(result);
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            //置生效
            $scope.onEnable = function () {
                $scope.resetSelectStatus();
                AlertUtil.clearAlert('alertInfo');

                var ids = TableUtil.getSelectedIds('table', 1, 1, $scope.listData.length);

                if (ids == null || ids.length == 0) {
                    $scope.modalContent = '请选择待处理的数据！！';
                    $("#myModal").modal('show');
                    return;
                }

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'sys/operator/batchenable', ids, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        console.log(result);
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.onAdd = function () {
                window.location = "NewUser.html";
            };

            //密码重置
            $scope.onResetpwd = function (id) {

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'sys/operator/resetPassword/' + id)
                    .then(function (result) {  //正确请求成功时处理
                        if (result.data.code == "NONE_ERROR") {
                            $scope.modalContent = '密码重置成功，密码与用户账号相同，请及时修改！';
                        }
                        else {
                            $scope.modalContent = '密码重置失败！';
                        }
                        $("#myModal").modal('show');
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.onEnableTabClick = function () {
                $scope.needHideEnable = true;
                $scope.needHideDisable = false;
                $scope.enable = "Y";
                $scope.getData();
            };

            $scope.onDisableTabClick = function () {
                $scope.needHideEnable = false;
                $scope.needHideDisable = true;
                $scope.enable = "N";
                $scope.getData();
            };

            //页面初始化
            $scope.selectAll = false;
            $scope.enable = "Y";
            $scope.needHideEnable = true;
            $scope.needHideDisable = false;
            $scope.getData();
        });

    </script>

</body>

</html>