<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

  <title>CaoBaoServiceMain</title>

  <style>
    .navbar {
      font-size: x-large;
    }

    .card-header {
      font-size: larger;
    }
  </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container-fluid">
    <!-- header -->
    <div class="row">
      <!-- 导航 -->
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">LOGO预留</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" ng-repeat="x in navMenuData">
                <a class="nav-link" ng-click='loadLeftMenu(x.id,x.name)' href='#'>{{x.name}}</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- middle -->
    <div class="row">
      <!-- left -->
      <div class="col-2">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                {{leftMenuData.pname}}
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body" ng-repeat="x in leftMenuData.menuData">
                <a class="card-link" href="{{x.targetUrl}}" target='if_content'>{{x.name}}</a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- content -->
      <div class="col-10">
        <div>
          <iframe id="if_content" src="" style="width:100%;" scrolling="yes" onload="changeFrameHeight()" frameborder='0'
            name="if_content"></iframe>
        </div>
      </div>

      <!-- footer -->
      <div class="row">
        <div class="col">
          <!-- <h1>FOOT</h1> -->
        </div>
      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../lib/jquery/jquery.3.2.1.js"></script>
    <script src="../lib/popper/popper.1.12.9.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/angular-1.7.5/angular.min.js"></script>
    <script src="../common/littleCatCommon.js"></script>

    <script>
      var app = angular.module('myApp', []);

      CommonConfig.configApp(app);

      app.controller('myCtrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {

        //获取进入页面时的MenuID
        $scope.menuId = $location.search().menuId;
        $scope.menuName = $location.search().menuName;

        console.log('$scope.menuId', $scope.menuId);
        console.log('$scope.menuName', $scope.menuName);

        //加载顶级导航菜单
        $scope.loadNavMenu = function () {
          $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'sys/menu/getbypid?pid=-1')
            .then(function (result) {  //正确请求成功时处理
              $scope.navMenuData = result.data.data;

              if (StringUtil.isEmpty($scope.menuId)) {
                for (var i = 0; i < $scope.navMenuData.length; i++) {
                  if ($scope.navMenuData[i].isDefault == 'Y') {
                    $scope.menuId = $scope.navMenuData[i].id;
                    $scope.menuName = $scope.navMenuData[i].name;
                    break;
                  }
                }
              }

              $scope.loadLeftMenu($scope.menuId, $scope.menuName);

            }).catch(function (result) { //捕捉错误处理
              console.log(result);
            });
        };

        //通过PID加载左侧菜单
        $scope.loadLeftMenu = function (pid, pname) {
          $scope.leftMenuData = {
            pname: pname
          };

          $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'sys/menu/getbypid?pid=' + pid)
            .then(function (result) {  //正确请求成功时处理
              $scope.leftMenuData.menuData = result.data.data;

              //加载默认页面
              for (var i = 0; i < $scope.leftMenuData.menuData.length; i++) {
                if ($scope.leftMenuData.menuData[i].isDefault == 'Y') {
                  document.getElementById('if_content').src = $scope.leftMenuData.menuData[i].targetUrl;
                  console.log('if_content.src:', document.getElementById('if_content').src);
                }
              }

              console.log(' $scope.leftMenuData:success:', $scope.leftMenuData);
            }).catch(function (result) { //捕捉错误处理
              console.log('$scope.loadLeftMenu:error:', result);
            });
        };

        $scope.loadNavMenu();

      }]);

      // iframe 自适应高度
      function changeFrameHeight() {
        var ifm = document.getElementById("if_content");
        ifm.height = document.documentElement.clientHeight;

      }

      window.onresize = function () {
        changeFrameHeight();
      }

    </script>
</body>

</html>