<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <title>CommissionPayMgr</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <!-- 页面标题 -->
        <div class="row" style="height:60px">
            <div class="col">
                <h4>佣金发放</h4>
            </div>
            <div class="col-10" id='alertInfo'>

            </div>
        </div>

        <!-- 操作按钮 -->
        <div class="row">
            <div class="col-sm-3">
                <select class="form-control" ng-model="search.tuanZhangId" ng-change="onTuanZhangSelectChanged()">
                    <option value="">合作伙伴过滤……</option>
                    <option ng-repeat="x in tuanListData" value="{{x.id}}">{{x.name}}</option>
                </select>
            </div>

            <div class="col-sm-1.5">
                <button class="btn btn-primary" ng-hide="needHidePayBtn" ng-click="onPay()">发放佣金</button>
            </div>

            <label class="col-sm-2 col-form-label">费用合计:￥{{totalFee}}</label>
        </div>
        <br />
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="daifafang-tab" data-toggle="tab" href="#daifafang" ng-click='ondaifafangTabClick()'
                    role="tab" aria-controls="daifafang" aria-selected="true">待发放</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yifafang-tab" data-toggle="tab" href="#yifafang" ng-click='onyifafangTabClick()'
                    role="tab" aria-controls="yifafang" aria-selected="false">已发放</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yifafang-tab" data-toggle="tab" href="#yifafang" ng-click='onyishixiaoTabClick()'
                    role="tab" aria-controls="yishixiao" aria-selected="false">已失效</a>
            </li>

        </ul>

        <div class="tab-content" id="myTabContent">
            <br />

            <div class="tab-pane fade show active" id="daifafang" role="tabpanel" aria-labelledby="home-tab">
                <!-- 待发放数据区域 -->
                <div class="row">
                    <div class="col">
                        <table class="table table-striped table-hover" id="table">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th scope="col"><input type="checkbox" id="cbxSelectAllOrCancel" ng-click="onSelectAllOrCancel()"></th>
                                    <th scope="col" ng-hide={{true}}>ID</th>
                                    <th scope="col">合作伙伴</th>
                                    <th scope="col">订单编号</th>
                                    <th scope="col">商 品</th>
                                    <th scope="col">商品费用</th>
                                    <th scope="col">佣金类别</th>
                                    <th scope="col">佣金费用</th>
                                    <th scope="col">申请时间</th>
                                    <th scope="col">管理操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in listData">
                                    <td><input type="checkbox" ng-click="onSelectChanged()"></td>
                                    <td ng-hide={{true}}>{{x.id}}</td>
                                    <td>{{x.tuanZhangName}}</td>
                                    <td>{{x.orderId}}</td>
                                    <td>{{x.goodsName}}</td>
                                    <td>￥{{x.goodsFee}}</td>
                                    <td>{{x.commissionTypeName}}</td>
                                    <td>￥{{x.calcFee}}</td>
                                    <td>{{x.applyTime}}</td>
                                    <td>
                                        <button type="button" class="btn btn-secondary btn-sm" ng-click="getApplyInfoByApplyTime(x.tuanZhangId,x.applyTime)">查看申请信息</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="yifafang" role="tabpanel" aria-labelledby="home-tab">
                <!-- 已发放数据区域 -->
                <div class="row">
                    <div class="col">
                        <table class="table table-striped table-hover" id="tableyifafang">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th scope="col">合作伙伴</th>
                                    <th scope="col">订单编号</th>
                                    <th scope="col">商 品</th>
                                    <th scope="col">商品费用</th>
                                    <th scope="col">佣金类别</th>
                                    <th scope="col">佣金费用</th>
                                    <th scope="col" ng-hide="needHidePayTime">发放时间</th>
                                    <th scope="col" ng-hide="needHideDisableTime">失效时间</th>
                                    <th scope="col">管理操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in listData">
                                    <td>{{x.tuanZhangName}}</td>
                                    <td>{{x.orderId}}</td>
                                    <td>{{x.goodsName}}</td>
                                    <td>￥{{x.goodsFee}}</td>
                                    <td>{{x.commissionTypeName}}</td>
                                    <td>￥{{x.calcFee}}</td>
                                    <td ng-hide="needHidePayTime">{{x.payTime}}</td>
                                    <td ng-hide="needHideDisableTime">{{x.disableTime}}</td>
                                    <td>
                                        <button type="button" class="btn btn-secondary btn-sm" ng-click="getApplyInfoByApplyTime(x.tuanZhangId,x.applyTime)">查看申请信息</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">友情提示</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{modalContent}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">确 定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- applyInfoModal -->
        <div id='applyInfoModal' class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">佣金申请信息</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">开户人姓名</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputName" readonly ng-model="applyInfo.bankHolderName">
                                </div>

                                <label for="inputName" class="col-sm-2 col-form-label">支付宝姓名</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputFee" readonly ng-model="applyInfo.zfbName">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">开户行名称</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputFee" readonly ng-model="applyInfo.bankName">
                                </div>

                                <label for="inputName" class="col-sm-2 col-form-label">支付宝账号</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputFee" readonly ng-model="applyInfo.zfbAccount">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">银行账号</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputBeginValue" readonly ng-model="applyInfo.bankAccount">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关 闭</button>
                    </div>
                </div>

            </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../lib/jquery/jquery.3.2.1.js"></script>
        <script src="../lib/popper/popper.1.12.9.js"></script>
        <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="../lib/angular-1.7.5/angular.min.js"></script>
        <script src="../common/littleCatCommon.js"></script>

        <script>
            var app = angular.module('myApp', []);

            app.controller('myCtrl', function ($scope, $http) {
                $scope.search = {
                    tuanZhangId: '',
                    state: 'applyed'
                };

                $scope.tuanZhangId = '';

                $scope.ondaifafangTabClick = function () {
                    $scope.search.state = 'applyed';
                    $scope.needHidePayBtn = false;
                    $scope.search.tuanZhangId = ''
                    $scope.getData();
                };

                $scope.onyifafangTabClick = function () {
                    $scope.search.state = 'payed';
                    $scope.needHidePayBtn = true;
                    $scope.needHidePayTime = false;
                    $scope.needHideDisableTime = true;
                    $scope.search.tuanZhangId = ''
                    $scope.getData();
                };

                $scope.onyishixiaoTabClick = function () {
                    $scope.search.state = 'disabled';
                    $scope.needHidePayBtn = true;
                    $scope.needHidePayTime = true;
                    $scope.needHideDisableTime = false;
                    $scope.search.tuanZhangId = ''
                    $scope.getData();
                };


                $scope.getData = function () {
                    $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/calc/getList?tuanZhangId=' + $scope.search.tuanZhangId + '&state=' + $scope.search.state)
                        .then(function (result) {  //正确请求成功时处理
                            $scope.listData = result.data.data
                            $scope.tuanListData = []
                            let ids = []//用于排重的临时数组
                            for (var i = 0; i < $scope.listData.length; i++) {
                                if (ids.indexOf($scope.listData[i].tuanZhangId) == -1) {
                                    ids.push($scope.listData[i].tuanZhangId)
                                    $scope.tuanListData.push({ id: $scope.listData[i].tuanZhangId, name: $scope.listData[i].tuanZhangName });
                                }

                            }

                            console.log(result);
                        }).catch(function (result) { //捕捉错误处理
                            console.log(result);
                            alert(result.data.Message);
                        });
                };

                $scope.onSelectChanged = function () {
                    $scope.totalFee = TableUtil.getSumValue('table', 7, 1, $scope.listData.length);
                };

                $scope.onSelectAllOrCancel = function () {
                    TableUtil.selectAllOrCncel('table', !$scope.selectAll, 1, $scope.listData.length);
                    $scope.totalFee = TableUtil.getSumValue('table', 7, 1, $scope.listData.length);
                    $scope.selectAll = !$scope.selectAll;
                };


                //重置记录的选择状态
                $scope.resetSelectStatus = function () {
                    document.getElementById('cbxSelectAllOrCancel').checked = false;
                    $scope.selectAll = false;
                    $scope.totalFee = 0;
                }

                $scope.onTuanZhangSelectChanged = function () {
                    $scope.getData();
                };

                //登记支付
                $scope.onPay = function () {
                    $scope.resetSelectStatus();
                    AlertUtil.clearAlert('alertInfo');

                    var ids = TableUtil.getSelectedIds('table', 1, 1, $scope.listData.length);

                    if (ids == null || ids.length == 0) {
                        $scope.modalContent = '请选择待处理的数据！';
                        $("#myModal").modal('show');
                        return;
                    }

                    $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/calc/pay', ids, CommonConfig.httpReqConfig)
                        .then(function (result) {  //正确请求成功时处理
                            if (result.data.code == "NONE_ERROR") {
                                $scope.modalContent = '佣金发放成功！';
                                $("#myModal").modal('show');
                                $scope.getData();
                            }
                            else {
                                $scope.modalContent = '佣金发放失败！';
                                $("#myModal").modal('show');
                                return;
                            }


                        }).catch(function (result) { //捕捉错误处理
                            $scope.modalContent = '佣金发放失败！';
                            $("#myModal").modal('show');

                            console.log(result);
                            return;
                        });
                };

                $scope.getApplyInfoByApplyTime = function (tuanZhangId, applyTime) {
                    $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/calc/getApplyInfoByApplyTime?tuanZhangId=' + tuanZhangId + '&applyTime=' + applyTime)
                        .then(function (result) {  //正确请求成功时处理
                            if (result.data.data.length > 0) {
                                $scope.applyInfo = result.data.data[0]
                                $("#applyInfoModal").modal('show');
                            }
                            else {
                                $scope.modalContent = '获取申请信息失败！';
                                $("#myModal").modal('show');

                                console.log(result);
                            }
                            
                        }).catch(function (result) { //捕捉错误处理
                            console.log(result);
                        });
                };

                //页面初始化
                $scope.selectAll = false;
                $scope.totalFee = 0;

                $scope.applyInfo = {};
                $scope.getData();
            });
        </script>

</body>

</html>