<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <title>CommissionTypeMgr</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <!-- 页面标题 -->
        <div class="row" style="height:60px">
            <div class="col">
                <h4>佣金类目管理</h4>
            </div>
            <div class="col-10" id='alertInfo'>

            </div>
        </div>

        <!-- 操作按钮 -->
        <div class="row">
            <label for="inputName" class="col-sm-1 col-form-label">名 称</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputName" placeholder="佣金类目名称" ng-change='onInputNameChanged();' ng-model="detailInfo.name">
            </div>


            <label for="inputcommissionRate" class="col-sm-1 col-form-label">默认比例</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputcommissionRate" ng-change='onInputcommissionRateChanged();' ng-model="detailInfo.commissionRate">
            </div>


            <div class="col-sm-1">
                <button class="btn btn-success" ng-click="saveData()">修 改</button>
            </div>
        </div>
        <hr />
        <!-- 数据区域 -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover" id="table">
                    <thead class="bg-info text-white">
                        <tr>
                            <th scope="col" ng-hide={{true}}>ID</th>
                            <th scope="col">名 称</th>
                            <th scope="col">默认比例</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listData">
                            <td ng-hide={{true}}>{{x.id}}</td>
                            <th scope="row"><a href="#" ng-click="getDetailData(x.id)">{{x.name}}</a></td>
                            <td>{{x.commissionRate}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../lib/jquery/jquery.3.2.1.js"></script>
    <script src="../lib/popper/popper.1.12.9.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/angular-1.7.5/angular.min.js"></script>
    <script src="../common/littleCatCommon.js"></script>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope, $http) {
            $scope.getData = function () {
                $scope.detailInfo = {
                    id: '',
                    name: ''
                };


                var data = {

                };

                $http.post(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/type/getList', data, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.listData = result.data.data

                        console.log(result);
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                        alert(result.data.Message);
                    });


            };

            $scope.getDetailData = function (id) {
                $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/type/getbyid?id=' + id)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.detailInfo = result.data.data[0];

                        console.log(result);
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                        alert(result.data.Message);
                    });
            };

           

            //表单验证
            $scope.formValid = function () {
                var validResult = true;

                var inputName = $('#inputName');
                if (StringUtil.isEmpty($scope.detailInfo.name)) {
                    inputName.addClass('is-invalid');
                    inputName.focus();
                    validResult = false;
                }
                else {
                    inputName.removeClass('is-invalid');
                }

                var inputcommissionRate = $('#inputcommissionRate');
                if (StringUtil.isEmpty($scope.detailInfo.commissionRate)) {
                    inputcommissionRate.addClass('is-invalid');
                    inputcommissionRate.focus();
                    validResult = false;
                }
                else {
                    inputcommissionRate.removeClass('is-invalid');
                }

                return validResult;
            };

            $scope.onInputNameChanged = function(){
                $scope.formValid();
            };

            $scope.onInputcommissionRateChanged = function(){
                $scope.formValid();
            };

            $scope.saveData = function () {
                if (!$scope.formValid()) {
                    return;
                }

                if(StringUtil.isEmpty($scope.detailInfo.id)){
                    return;
                }
                
                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/type/modify', $scope.detailInfo, CommonConfig.httpReqConfig)
                        .then(function (result) {  //正确请求成功时处理
                            if (result.data.code != 'NONE_ERROR') {
                                AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！', AlertUtil.defaultTimeout);
                                return;
                            }

                            AlertUtil.successWithCloseButton('alertInfo', '修改成功！', AlertUtil.defaultTimeout);

                            $scope.getData();
                            console.log(result);
                        }).catch(function (result) { //捕捉错误处理
                            AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！', AlertUtil.defaultTimeout);
                            console.log(result);
                        });
            };


            //页面初始化
            $scope.getData();
            $scope.formValid();
        });
    </script>

</body>

</html>