<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <title>GoodsCommissionMgr</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <!-- 页面标题 -->
        <div class="row" style="height:60px">
            <div class="col">
                <h4>商品佣金设置</h4>
            </div>
            <div class="col-10" id='alertInfo'>

            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <h5>商品名称：{{goodsName}}</h5>
            </div>
        </div>
        <hr />

        <form>
            <div class="form-group row">
                <label for="inputName" class="col-sm-1 col-form-label">佣金类目</label>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="detailInfo.commissionTypeId">
                        <option value="-1" ng-selected>请选择...</option>
                        <option ng-repeat="x in commissionTypeListData" value="{{x.id}}">{{x.name}}</option>
                    </select>
                </div>

                <label for="inputName" class="col-sm-1 col-form-label">佣金比例</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputRate" placeholder="数字,最多一位小数（如99.9）" ng-model="detailInfo.commissionRate">
                </div>

                <div class="col-sm-1">
                    <button class="btn btn-success" ng-click="saveData()">{{isAdd?'添 加':'修 改'}}</button>
                </div>
            </div>

        </form>
        <hr />


        <!-- 操作按钮 -->
        <div class="row">
            <div class="col" align="right">
                <button type="button" class="btn btn-success" ng-click='onEnable()'>生 效</button>
                <button type="button" class="btn btn-danger" ng-click='onDisable()'>失 效</button>
                <button type="button" class="btn btn-success" ng-click='back2GoodsList()'>返回商品列表</button>

            </div>
        </div>
        <hr />
        <!-- 数据区域 -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover" id="table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th scope="col"><input type="checkbox" id="cbxSelectAllOrCancel" ng-click="onSelectAllOrCancel()"></th>
                            <th scope="col" ng-hide={{true}}>ID</th>
                            <th scope="col">佣金类目</th>
                            <th scope="col">佣金比例</th>
                            <th scope="col">创建时间</th>
                            <th scope="col">是否有效</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listData">
                            <td><input type="checkbox"></td>
                            <td ng-hide={{true}}>{{x.id}}</td>
                            <th scope="row"><a href="#" ng-click="getDetailData(x.id)">{{x.commissionTypeName}}</a></td>
                            <td>{{x.commissionRate}}</td>
                            <td>{{x.createTime}}</td>
                            <td>{{x.enable=='Y'?'是':'否'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">友情提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{modalContent}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确 定</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../lib/jquery/jquery.3.2.1.js"></script>
    <script src="../lib/popper/popper.1.12.9.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/angular-1.7.5/angular.min.js"></script>
    <script src="../common/littleCatCommon.js"></script>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope, $http) {

            $scope.goodsId = RequestUtil.getQueryParamByName('goodsId');


            if (StringUtil.isEmpty($scope.goodsId)) {
                $scope.modalContent = '请选择商品进行佣金规则设置！';
                $('#myModal').modal('show');
            }

            $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'goods/getbyid?id=' + $scope.goodsId)
                .then(function (result) {  //正确请求成功时处理
                    $scope.goodsName = result.data.data[0].name;
                }).catch(function (result) { //捕捉错误处理
                    console.log(result);
                });



            // 告警框关闭事件
            $('#myModal').on('hidden.bs.modal', function (e) {
                window.location = '../Goods/GoodsList.html';
            });

            $scope.getCommissionTypeListData = function () {
                var data = {
                    "condition": {
                        "logicType": "and",
                        "condItems": [
                            {
                                "fieldName": "enable",
                                "opType": "equal",
                                "value": "Y"
                            }
                        ]
                    },
                    "sortFields": "name",
                    "sortType": "asc"
                };
                $http.post(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/type/getList', data, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.commissionTypeListData = result.data.data;

                        console.log(result);
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                        alert(result.data.Message);
                    });
            };


            $scope.getData = function () {

                $scope.isAdd = true;
                $scope.detailInfo = {
                    id: '',
                    goodsId: $scope.goodsId,
                    commissionTypeId: '-1',
                    name: '',
                    commissionRate: ''
                };


                var data = {
                    "condition": {
                        "logicType": "and",
                        "condItems": [
                            {
                                "fieldName": "goodsId",
                                "opType": "equal",
                                "value": $scope.goodsId
                            }
                        ]
                    }
                };

                $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/goods/getListByGoodsId?goodsId=' + $scope.goodsId)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.listData = result.data.data

                        console.log(result);
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                        alert(result.data.Message);
                    });


            };

            $scope.onSelectAllOrCancel = function () {
                TableUtil.selectAllOrCncel('table', !$scope.selectAll, 1, $scope.listData.length);
                $scope.selectAll = !$scope.selectAll;
            };

            $scope.getDetailData = function (id) {
                $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/goods/getbyid?id=' + id)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.detailInfo = result.data.data[0];
                        $scope.isAdd = false;

                        console.log(result);
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                        alert(result.data.Message);
                    });
            };

            //重置记录的选择状态
            $scope.resetSelectStatus = function () {
                document.getElementById('cbxSelectAllOrCancel').checked = false;
                $scope.selectAll = false;
            }

            //置失效
            $scope.onDisable = function () {
                $scope.resetSelectStatus();
                AlertUtil.clearAlert('alertInfo');

                var ids = TableUtil.getSelectedIds('table', 1, 1, $scope.listData.length);

                if (ids == null || ids.length == 0) {
                    AlertUtil.dangerWithCloseButton('alertInfo', '请选择待处理的数据！', AlertUtil.defaultTimeout);
                    return;
                }

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/type/batchdisable', ids, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        console.log(result);
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            //置生效
            $scope.onEnable = function () {
                $scope.resetSelectStatus();
                AlertUtil.clearAlert('alertInfo');

                var ids = TableUtil.getSelectedIds('table', 1, 1, $scope.listData.length);

                if (ids == null || ids.length == 0) {
                    AlertUtil.dangerWithCloseButton('alertInfo', '请选择待处理的数据！', AlertUtil.defaultTimeout);
                    return;
                }

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/type/batchenable', ids, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        console.log(result);
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.saveData = function () {
                if ($scope.isAdd) {//新增

                    $http.post(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/goods/add', $scope.detailInfo, CommonConfig.httpReqConfig)
                        .then(function (result) {  //正确请求成功时处理
                            console.log('saveData:result', result);

                            if (result.data.code != 'NONE_ERROR') {
                                AlertUtil.dangerWithCloseButton('alertInfo', '添加失败！', AlertUtil.defaultTimeout);
                                return;
                            }

                            AlertUtil.successWithCloseButton('alertInfo', '添加成功！', AlertUtil.defaultTimeout);

                            $scope.getData();

                        }).catch(function (result) { //捕捉错误处理
                            AlertUtil.dangerWithCloseButton('alertInfo', '添加失败！', AlertUtil.defaultTimeout);
                            console.log(result);
                        });
                }
                else {//修改
                    $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'commission/goods/modify', $scope.detailInfo, CommonConfig.httpReqConfig)
                        .then(function (result) {  //正确请求成功时处理
                            if (result.data.code != 'NONE_ERROR') {
                                AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！', AlertUtil.defaultTimeout);
                                return;
                            }

                            AlertUtil.successWithCloseButton('alertInfo', '修改成功！', AlertUtil.defaultTimeout);

                            $scope.getData();
                            console.log(result);
                        }).catch(function (result) { //捕捉错误处理
                            AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！', AlertUtil.defaultTimeout);
                            console.log(result);
                        });
                }
            };

            $scope.back2GoodsList = function () {
                window.location = '../Goods/GoodsList.html';
            };


            //页面初始化
            $scope.selectAll = false;
            $scope.getCommissionTypeListData();
            $scope.getData();
        });
    </script>

</body>

</html>