<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

  <title>GodosDetail</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row" style="height:60px">
      <div class="col-2">
        <h4>商品详情</h4>
      </div>

      <div class="col-10" id='alertInfo'>

      </div>
    </div>

    <form>
      <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">名称</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputName" placeholder="名称" ng-model="goodsDetailInfo.name">
        </div>
        <label for="inputRemark" class="col-sm-1 col-form-label">概要信息</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputRemark" placeholder="概要信息" ng-model="goodsDetailInfo.summaryDescription">
        </div>
      </div>
      <div class="form-group row">
        <label for="selectSupplier" class="col-sm-1 col-form-label">供应商</label>
        <div class="col-sm-5">
          <select class="form-control" ng-model="goodsDetailInfo.supplierId">
            <option value="-1" ng-selected>请选择...</option>
            <option ng-repeat="x in supplierListData" value="{{x.id}}">{{x.name}}</option>
          </select>
        </div>
        <label for="inputPrice" class="col-sm-1 col-form-label">价格</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputPrice" placeholder="价格（单位为厘）" ng-model="goodsDetailInfo.price">
        </div>
      </div>

      <div class="form-group row">
        <label for="selectDeliveryArea" class="col-sm-1 col-form-label">发货区域</label>
        <div class="col-sm-5">
          <select class="form-control" ng-model="goodsDetailInfo.deliveryAreaId">
            <option value="-1">请选择...</option>
            <option ng-repeat="x in deliveryAreaListData" value="{{x.id}}">{{x.name}}</option>
          </select>
        </div>
        <label for="selectDeliveryFeeRule" class="col-sm-1 col-form-label">物流费用规则</label>
        <div class="col-sm-5">
          <select class="form-control" ng-model="goodsDetailInfo.deliveryFeeRuleId">
            <option value="-1">请选择...</option>
            <option ng-repeat="x in deliveryFeeRuleListData" value="{{x.id}}">{{x.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row" ng-hide="isAdd">
        <label for="inputEnable" class="col-sm-1 col-form-label">创建人</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputEnable" readonly="readonly" ng-model="goodsDetailInfo.createOperatorV">
        </div>

        <label for="inputCreateTime" class="col-sm-1 col-form-label">创建时间</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputCreateTime" readonly="readonly" ng-model="goodsDetailInfo.createTime">
        </div>

      </div>

      <div class="form-group row" ng-hide="isAdd">
        <label for="inputCreateTime" class="col-sm-1 col-form-label">创建时间</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputCreateTime" readonly="readonly" ng-model="goodsDetailInfo.createTime">
        </div>
        <label for="inputEnable" class="col-sm-1 col-form-label">是否有效</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputEnable" readonly="readonly" ng-model="goodsDetailInfo.enableV">
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-11">
          <button type="submit" class="btn btn-primary" ng-click="saveData()">{{saveBtnTitle}}</button>
        </div>
      </div>

    </form>

    <!-- 产品主图上传 -->
    <form>
      <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">产品主图上传</label>
        <div class="col-sm-5">
          <input type="file" class="form-control" id="fileMainImg">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="saveMainImg()">确 定</button>
      </div>
    </form>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../lib/jquery/jquery.3.2.1.js"></script>
  <script src="../lib/popper/popper.1.12.9.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/angular-1.7.5/angular.min.js"></script>
  <script src="../common/littleCatCommon.js"></script>

  <script>
    var app = angular.module('myApp', []);

    CommonConfig.configApp(app);

    app.controller('myCtrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {
      $scope.goodsDetailInfo = {
        id: $location.search().id
      };

      $scope.getSupplierListData = function () {
        var data = {
          "condition": {
            "logicType": "and",
            "condItems": [
              {
                "fieldName": "enable",
                "opType": "equal",
                "value": "Y"
              }
            ]
          },
          "sortFields": "name",
          "sortType": "asc"
        };

        $http.post('http://localhost:8006/rest/littlecat/caobao/supplier/getList', data, CommonConfig.httpReqConfig)
          .then(function (result) {  //正确请求成功时处理
            $scope.supplierListData = result.data.data;

            console.log(result);
          }).catch(function (result) { //捕捉错误处理
            console.log(result);
            alert(result.data.Message);
          });
      };


      if (StringUtil.isNotEmpty($scope.goodsDetailInfo.id)) {
        //是否为新增
        $scope.isAdd = false;

        $http.get('http://localhost:8006/rest/littlecat/caobao/goods/getbyid?id=' + $scope.goodsDetailInfo.id)
          .then(function (result) {  //正确请求成功时处理

            $scope.goodsDetailInfo = result.data.data[0];
            $scope.goodsDetailInfo.enableV = $scope.goodsDetailInfo.enable == 'Y' ? '是' : '否';

            console.log(result);
            console.log('$scope.goodsDetailInfo:', $scope.goodsDetailInfo);

          }).catch(function (result) { //捕捉错误处理
            console.log(result);
          });

        $scope.saveBtnTitle = '修 改';
      } else {
        $scope.isAdd = true;
        $scope.saveBtnTitle = '添 加';
      }


      $scope.saveData = function () {

        if ($scope.isAdd) {//新增

          $http.post('http://localhost:8006/rest/littlecat/caobao/goods/add', $scope.goodsDetailInfo, CommonConfig.httpReqConfig)
            .then(function (result) {  //正确请求成功时处理
              window.location = 'GoodsList.html'
            }).catch(function (result) { //捕捉错误处理
              console.log(result);
            });
        }
        else {//修改
          $http.put('http://localhost:8006/rest/littlecat/caobao/goods/modify', $scope.goodsDetailInfo, CommonConfig.httpReqConfig)
            .then(function (result) {  //正确请求成功时处理
              AlertUtil.successWithCloseButton('alertInfo', '修改成功！');

              console.log(result);
            }).catch(function (result) { //捕捉错误处理
              AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！');
              console.log(result);
            });
        }
      };

      $scope.getSupplierListData();

    }]);


  </script>
</body>

</html>