<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

  <title>GodosDetail</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row" style="height:60px">
      <div class="col-2">
        <h4>商品详情</h4>
      </div>

      <div class="col-10" id='alertInfo'>

      </div>
    </div>

    <div class="row" style="height:60px">
      <div class="col-12">
        <h5>基本信息</h5>
      </div>
    </div>

    <form>
      <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">名称</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputName" placeholder="名称" ng-model="goodsDetailInfo.name">
        </div>
        <label for="inputRemark" class="col-sm-1 col-form-label">概要信息</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputRemark" placeholder="概要信息" ng-model="goodsDetailInfo.summaryDescription">
        </div>
      </div>
      <div class="form-group row">
        <label for="selectSupplier" class="col-sm-1 col-form-label">供应商</label>
        <div class="col-sm-5">
          <select class="form-control" ng-model="goodsDetailInfo.supplierId">
            <option value="-1" ng-selected>请选择...</option>
            <option ng-repeat="x in supplierListData" value="{{x.id}}">{{x.name}}</option>
          </select>
        </div>
        <label for="inputPrice" class="col-sm-1 col-form-label">价格</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputPrice" placeholder="价格（单位为厘）" ng-model="goodsDetailInfo.price">
        </div>
      </div>

      <div class="form-group row">
        <label for="selectDeliveryArea" class="col-sm-1 col-form-label">发货区域</label>
        <div class="col-sm-5">
          <select class="form-control" ng-model="goodsDetailInfo.deliveryAreaId">
            <option value="-1">请选择...</option>
            <option ng-repeat="x in deliveryAreaListData" value="{{x.id}}">{{x.name}}</option>
          </select>
        </div>
        <label for="selectDeliveryFeeRule" class="col-sm-1 col-form-label">物流费用规则</label>
        <div class="col-sm-5">
          <select class="form-control" ng-model="goodsDetailInfo.deliveryFeeRuleId">
            <option value="-1">请选择...</option>
            <option ng-repeat="x in deliveryFeeRuleListData" value="{{x.id}}">{{x.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row" ng-hide="isAdd">
        <label for="inputEnable" class="col-sm-1 col-form-label">创建人</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputEnable" readonly="readonly" ng-model="goodsDetailInfo.createOperatorV">
        </div>

        <label for="inputCreateTime" class="col-sm-1 col-form-label">创建时间</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputCreateTime" readonly="readonly" ng-model="goodsDetailInfo.createTime">
        </div>

      </div>

      <div class="form-group row" ng-hide="isAdd">
        <label for="inputCreateTime" class="col-sm-1 col-form-label">创建时间</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputCreateTime" readonly="readonly" ng-model="goodsDetailInfo.createTime">
        </div>
        <label for="inputEnable" class="col-sm-1 col-form-label">是否有效</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputEnable" readonly="readonly" ng-model="goodsDetailInfo.enableV">
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-11">
          <button type="submit" class="btn btn-primary" ng-click="saveData()">{{isAdd?'新 增':'修 改'}}</button>
        </div>
      </div>

    </form>

    <!-- 产品主图 -->
    <div ng-if="isAdd == false">
      <div class="row">
        <div class="col-12">
          <h5>主图信息</h5>
        </div>
      </div>
      <form id="formMainImg" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
          <label for="inputName" class="col-sm-1 col-form-label">产品主图上传</label>
          <div class="col-sm-5">
            <input type="file" class="form-control" id="fileMainImg" name='goodsMainImg'>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="saveMainImg()">确 定</button>
        </div>
      </form>
      <div class="row">
        <div class="col-12">
          <img src="data:image/png;base64,{{goodsDetailInfo.mainImgData}}" alt="尚未上传产品图片" />
        </div>
      </div>
    </div>

    <!-- 明细图片 -->
    <div ng-if="isAdd == false">
      <br />
      <div class="row">
        <div class="col-12">
          <h5>明细图片</h5>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEnable" class="col-sm-1 col-form-label">标 题</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputEnable" readonly="readonly" ng-model="detailImage.title">
        </div>

        <label for="inputCreateTime" class="col-sm-1 col-form-label">排序编号</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputCreateTime" readonly="readonly" ng-model="detailImage.sortNum">
        </div>

      </div>

      <form id="formdetailImg" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
          <label for="goodsDetailImg" class="col-sm-1 col-form-label">产品明细图片上传</label>
          <div class="col-sm-11">
            <input type="file" class="form-control" id='goodsDetailImg' name='goodsDetailImg'>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="saveGoodsDetailImg()">添 加</button>
          <button class="btn btn-primary" ng-click="deleteGoodsDetailImg()">删 除</button>
        </div>
      </form>

      <div class="row">
        <div class="col">
          <table class="table table-striped table-hover" id="tableDetailImgs">
            <thead class="bg-primary text-white">
              <tr>
                <th scope="col"><input type="checkbox" id="cbxSelectAllOrCancel" ng-click="onSelectAllOrCancel()"></th>
                <th scope="col">序 号</th>
                <th scope="col" ng-hide={{true}}>ID</th>
                <th scope="col">标 题</th>
                <th scope="col">预 览</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in goodsDetailInfo.detailImgs">
                <td><input type="checkbox"></td>
                <td>{{x.sortNum}}</td>
                <td ng-hide={{true}}>{{x.id}}</td>
                <td>{{x.title}}</td>
                <td><img src="data:image/png;base64,{{x.imgData}}" alt="尚未上传产品图片" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../lib/jquery/jquery.3.2.1.js"></script>
  <script src="../lib/popper/popper.1.12.9.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/angular-1.7.5/angular.min.js"></script>
  <script src="../common/littleCatCommon.js"></script>

  <script>
    var app = angular.module('myApp', []);
    CommonConfig.configApp(app);


    app.controller('myCtrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {
      $scope.goodsDetailInfo = {
        id: $location.search().id,
        createOperatorId: 'todo',
        deliveryAreaId: 'todo',
        deliveryFeeRuleId: 'todo'
      };

      $scope.getSupplierListData = function () {
        var data = {
          "condition": {
            "logicType": "and",
            "condItems": [
              {
                "fieldName": "enable",
                "opType": "equal",
                "value": "Y"
              }
            ]
          },
          "sortFields": "name",
          "sortType": "asc"
        };

        $http.post('http://localhost:8006/rest/littlecat/caobao/supplier/getList', data, CommonConfig.httpReqConfig)
          .then(function (result) {  //正确请求成功时处理
            $scope.supplierListData = result.data.data;

            console.log(result);
          }).catch(function (result) { //捕捉错误处理
            console.log(result);
            alert(result.data.Message);
          });
      };

      // 根据产品ID获取产品明细信息
      $scope.getGoodsDetailInfoById = function (id) {
        $http.get('http://localhost:8006/rest/littlecat/caobao/goods/getbyid?id=' + id)
          .then(function (result) {  //正确请求成功时处理

            $scope.goodsDetailInfo = result.data.data[0];
            $scope.goodsDetailInfo.enableV = $scope.goodsDetailInfo.enable == 'Y' ? '是' : '否';

            console.log(result);
            console.log('$scope.goodsDetailInfo:', $scope.goodsDetailInfo);

          }).catch(function (result) { //捕捉错误处理
            console.log(result);
          });
      };

      // 初始化
      $scope.init = function () {
        $scope.getSupplierListData();

        if (StringUtil.isNotEmpty($scope.goodsDetailInfo.id)) {
          //是否为新增
          $scope.isAdd = false;
          $scope.getGoodsDetailInfoById($scope.goodsDetailInfo.id);
        } else {
          $scope.isAdd = true;
        }
      };

      // 提交基本信息
      $scope.saveData = function () {
        if ($scope.isAdd) {//新增

          $http.post('http://localhost:8006/rest/littlecat/caobao/goods/add', $scope.goodsDetailInfo, CommonConfig.httpReqConfig)
            .then(function (result) {  //正确请求成功时处理
              console.log('saveData:result', result);

              var errCode = result.data.code;
              if (errCode != 'NONE_ERROR') {
                AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！');
                return;
              }
              window.location = 'GoodsDetail.html?id=' + result.data.data[0];

            }).catch(function (result) { //捕捉错误处理
              console.log(result);
            });
        }
        else {//修改
          $http.put('http://localhost:8006/rest/littlecat/caobao/goods/modify', $scope.goodsDetailInfo, CommonConfig.httpReqConfig)
            .then(function (result) {  //正确请求成功时处理
              AlertUtil.successWithCloseButton('alertInfo', '修改成功！');

              console.log(result);
            }).catch(function (result) { //捕捉错误处理
              AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！');
              console.log(result);
            });
        }
      };

      //修改主图信息
      $scope.saveMainImg = function () {
        var formMainImg = document.getElementById("formMainImg");
        formMainImg.action = CommonConfig.RestBaseUrl + 'goods/uploadmainimg/' + $scope.goodsDetailInfo.id;
        formMainImg.submit();
      };

      //根据产品ID获取产品的明细图片信息
      $scope.getGoodsDetailImg = function (goodsId) {
        var queryData = {
          "condition": {
            "logicType": "and",
            "condItems": [
              {
                "fieldName": "goodsId",
                "opType": "equal",
                "value": goodsId
              }
            ]
          },
          "sortFields": "sortNum",
          "sortType": "asc"
        };

        $http.post(CommonConfig.RestBaseUrl + 'goods/getDetailImgList', queryData, CommonConfig.httpReqConfig)
          .then(function (result) {  //正确请求成功时处理
            console.log('getGoodsDetailImg:result', result);

            var errCode = result.data.code;
            if (errCode != 'NONE_ERROR') {
              AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！');
              return;
            }

            $scope.goodsDetailInfo.detailImgs = result.data.data;

          }).catch(function (result) { //捕捉错误处理
            console.log(result);
          });
      };

      //添加一条明细图片
      $scope.saveGoodsDetailImg = function () {
        var formdetailImg = document.getElementById("formdetailImg");
        formdetailImg.action = CommonConfig.RestBaseUrl + 'goods/detailimgs/add/' + $scope.goodsDetailInfo.id + '/' + $scope.detailImage.title + '/' + $scope.detailImage.sortNum;
        formdetailImg.submit();

        $scope.detailImage.id = '';
        $scope.detailImage.sortNum = '';
      };

      //删除明细图片
      $scope.deleteGoodsDetailImg = function () {
        $scope.resetSelectStatus();
        AlertUtil.clearAlert('alertInfo');

        var ids = TableUtil.getSelectedIds('tableDetailImgs', 2, 1, $scope.goodsDetailInfo.detailImgs.length);

        if (ids == null || ids.length == 0) {
          AlertUtil.dangerWithCloseButton('alertInfo', '请选择待处理的数据！');
          return;
        }

        $http.delete(CommonConfig.RestBaseUrl + 'goods/detailimgs/batchdelete', ids, CommonConfig.httpReqConfig)
          .then(function (result) {  //正确请求成功时处理
            console.log(result);
            $scope.getData();
          }).catch(function (result) { //捕捉错误处理
            console.log(result);
          });
      };

      $scope.onSelectAllOrCancel = function () {
        TableUtil.selectAllOrCncel('tableDetailImgs', !$scope.selectAll, 1, $scope.supplierListData.length);
        $scope.selectAll = !$scope.selectAll;
      };

      //重置记录的选择状态
      $scope.resetSelectStatus = function () {
        document.getElementById('cbxSelectAllOrCancel').checked = false;
        $scope.selectAll = false;
      };

      $scope.init();


    }]);


  </script>
</body>

</html>