<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

  <title>合作伙伴详情</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row" style="height:60px">
      <div class="col-2">
        <h4>合作伙伴详情</h4>
      </div>
    </div>

    <form>
      <div class="form-group row">
        <label for="inputTuanZhangName" class="col-sm-2 col-form-label">姓 名</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputTuanZhangName" readonly ng-model="detailInfo.tuanZhangName">
        </div>
        <label for="inputName" class="col-sm-2 col-form-label">名 称</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputName" readonly ng-model="detailInfo.name">
        </div>
      </div>
      <div class="form-group row">

        <label for="inputName" class="col-sm-2 col-form-label">城 市</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputName" readonly ng-model="detailInfo.addressInfo.city">
        </div>
        <label for="inputArea" class="col-sm-2 col-form-label">区 县</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputArea" readonly ng-model="detailInfo.addressInfo.area">
        </div>
      </div>

      <div class="form-group row">
        <label for="inpuDetailInfo" class="col-sm-2 col-form-label">详细地址</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inpuDetailInfo" readonly ng-model="detailInfo.addressInfo.detailInfo">
        </div>
        <label for="inpuMobile" class="col-sm-2 col-form-label">手机号码</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inpuMobile" readonly ng-model="detailInfo.mobile">
        </div>
      </div>

      <div class="form-group row">

        <label for="inputState" class="col-sm-2 col-form-label">证件照片（正）</label>
        <div class="col-sm-4">
          <a href="#"><img src="{{x.idCardImgDataFront}}" height="50px" alt="无图片" ng-click="viewImg(x.idCardImgDataFront,'正面')" /></a>
        </div>
        <label for="inputState" class="col-sm-2 col-form-label">证件照片（反）</label>
        <div class="col-sm-4">
            <a href="#"><img src="{{x.idCardImgDataBack}}" height="50px" alt="无图片" ng-click="viewImg(x.idCardImgDataBack,'反面')" /></a>
        </div>
      </div>

      <div class="form-group row">

        <label for="inputState" class="col-sm-2 col-form-label">状 态</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputState" readonly ng-model="detailInfo.state">
        </div>
        <label for="inputCreateTime" class="col-sm-2 col-form-label">创建时间</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputCreateTime" readonly ng-model="detailInfo.createTime">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputApproveRemark" class="col-sm-2 col-form-label">审核意见</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputApproveRemark" readonly ng-model="detailInfo.approveRemark">
        </div>
        <label for="inputApproveTime" class="col-sm-2 col-form-label">审核时间</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputApproveTime" readonly ng-model="detailInfo.approveTime">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputisDeliverySiteY" class="col-sm-2 col-form-label">作为自提点</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputisDeliverySiteY" readonly ng-model="detailInfo.isDeliverySiteY">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-11">
          <button type="button" class="btn btn-success" ng-click="shenHe('Y')" ng-hide="!needShenHe">审核通过</button>
          <button type="button" class="btn btn-danger" ng-click="shenHe('X')" ng-hide="!needShenHe">审核不过</button>
          <button type="button" class="btn btn-secondary" ng-click="back2List()">返 回</button>
        </div>
      </div>

    </form>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">友情提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{modalContent}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">确 定</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal -->
   <div class="modal fade bd-example-modal-lg" id="imgViewModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">图片预览【{{viewImgTitle}}】</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <img src="{{viewImgData}}" width="100%" height="100%" alt="无法显示" />
       </div>
     </div>
   </div>
 </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../lib/jquery/jquery.3.2.1.js"></script>
  <script src="../lib/popper/popper.1.12.9.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/angular-1.7.5/angular.min.js"></script>
  <script src="../common/littleCatCommon.js"></script>

  <script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {


      $scope.loadTuanInfo = function () {


        $scope.needShenHe = false;

        $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'tuan/getById?id=' + $scope.detailInfo.id)
          .then(function (result) {  //正确请求成功时处理
            $scope.detailInfo = result.data.data[0];
            $scope.detailInfo.isDeliverySiteY = $scope.detailInfo.isDeliverySite == 'Y' ? '是' : '否';

            if ($scope.detailInfo.enable == 'I') {
              $scope.detailInfo.state = '待审核';
              $('#inputApproveRemark').removeAttr('readonly');
              $scope.needShenHe = true;
            }

            if ($scope.detailInfo.enable == 'Y') {
              $scope.detailInfo.state = '生效';
            }

            if ($scope.detailInfo.enable == 'N') {
              $scope.detailInfo.state = '失效';
            }

            if ($scope.detailInfo.enable == 'X') {
              $scope.detailInfo.state = '审核不过';
            }
          }).catch(function (result) { //捕捉错误处理
            console.log(result);
          });
      };

      $scope.shenHe = function (enable) {
        var tuanShenheReqInfo = {
          id: $scope.detailInfo.id,
          enable: enable,
          approveRemark: $scope.detailInfo.approveRemark
        };

        $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'tuan/shenhe', tuanShenheReqInfo, CommonConfig.httpReqConfig)
          .then(function (result) {  //正确请求成功时处理
            if (result.data.code == 'NONE_ERROR') {
              $scope.modalContent = '审核成功！';
              $("#myModal").modal('show');
              $scope.loadTuanInfo();
              return;
            }
            else {
              $scope.modalContent = '审核失败！';
              $("#myModal").modal('show');
              return;
            }

          }).catch(function (result) { //捕捉错误处理
            $scope.modalContent = '审核失败！';
            $("#myModal").modal('show');
            return;

            console.log(result);
          });
      };

      $scope.back2List = function () {
        window.location = 'QuanziList.html';
      };

      $scope.viewImg = function (imgdata,title) {
        $scope.viewImgData = imgdata;
        $scope.viewImgTitle = title;
        $('#imgViewModal').modal('show');
      };


      $scope.detailInfo = {
        id: RequestUtil.getQueryParamByName('id')
      };

      if (StringUtil.isEmpty($scope.detailInfo.id)) {
        $scope.modalContent = '请选择某个合作伙伴！';
        $("#myModal").modal('show');

        // 城市维护窗口关闭事件
        $('#myModal').on('hidden.bs.modal', function (e) {
          window.location = 'QuanziList.html';
        });

        return;

      }

      $scope.loadTuanInfo();

    }]);


  </script>
</body>

</html>