<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

  <title>SupplierDetail</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row" style="height:60px">
      <div class="col-2">
        <h4>供应商详情</h4>
      </div>

      <div class="col-10" id='alertInfo'>
        
      </div>
    </div>

    <form>
      <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">名称</label>
        <div class="col-sm-11">
          <input type="text" class="form-control" id="inputName" placeholder="供应商名称" ng-model="supplierInfo.name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputRemark" class="col-sm-1 col-form-label">备注</label>
        <div class="col-sm-11">
          <input type="text" class="form-control" id="inputRemark" placeholder="供应商备注信息" ng-model="supplierInfo.remark">
        </div>
      </div>

      <div class="form-group row" ng-hide="isAdd">
        <label for="inputCreateTime" class="col-sm-1 col-form-label">创建时间</label>
        <div class="col-sm-11">
          <input type="text" class="form-control" id="inputCreateTime" readonly="readonly" ng-model="supplierInfo.createTime">
        </div>
      </div>

      <div class="form-group row" ng-hide="isAdd">
        <label for="inputEnable" class="col-sm-1 col-form-label">是否有效</label>
        <div class="col-sm-11">
          <input type="text" class="form-control" id="inputEnable" readonly="readonly" ng-model="supplierInfo.enableV">
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-11">
          <button type="submit" class="btn btn-primary" ng-click="saveData()">{{saveBtnTitle}}</button>
        </div>
      </div>

    </form>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../lib/jquery/jquery.3.2.1.js"></script>
  <script src="../lib/popper/popper.1.12.9.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/angular-1.7.5/angular.min.js"></script>
  <script src="../common/littleCatCommon.js"></script>

  <script>
    var app = angular.module('myApp', []);

    CommonConfig.configApp(app);

    app.controller('myCtrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {
      $scope.supplierInfo = {
        id: $location.search().id
      };

      if (StringUtil.isNotEmpty($scope.supplierInfo.id)) {
        //是否为新增
        $scope.isAdd = false;

        $http.get('http://localhost:8006/rest/littlecat/caobao/supplier/getbyid?id=' + $scope.supplierInfo.id)
          .then(function (result) {  //正确请求成功时处理

            $scope.supplierInfo.name = result.data.data[0].name;
            $scope.supplierInfo.remark = result.data.data[0].remark;
            $scope.supplierInfo.createTime = result.data.data[0].createTime;
            $scope.supplierInfo.enable = result.data.data[0].enable;
            $scope.supplierInfo.enableV = $scope.supplierInfo.enable == 'Y' ? '是' : '否';

            console.log(result);

          }).catch(function (result) { //捕捉错误处理
            console.log(result);
          });

        $scope.saveBtnTitle = '修 改';
      } else {
        $scope.isAdd = true;
        $scope.saveBtnTitle = '添 加';
      }


      $scope.saveData = function () {
        console.log($scope.supplierInfo.id);

        if ($scope.isAdd) {//新增
          var data = {
            "name": $scope.supplierInfo.name,
            "remark": $scope.supplierInfo.remark
          }

          $http.post('http://localhost:8006/rest/littlecat/caobao/supplier/add', data, CommonConfig.httpReqConfig)
            .then(function (result) {  //正确请求成功时处理
              window.location = 'SupplierList.html'
            }).catch(function (result) { //捕捉错误处理
              console.log(result);
            });
        }
        else {//修改
          var data = {
            "id": $scope.supplierInfo.id,
            "name": $scope.supplierInfo.name,
            "remark": $scope.supplierInfo.remark,
            "enable": $scope.supplierInfo.enable
          }

          $http.put('http://localhost:8006/rest/littlecat/caobao/supplier/modify', data, CommonConfig.httpReqConfig)
            .then(function (result) {  //正确请求成功时处理
              AlertUtil.successWithCloseButton('alertInfo','修改成功！');

              console.log(result);
            }).catch(function (result) { //捕捉错误处理
              AlertUtil.dangerWithCloseButton('alertInfo','修改失败！');
              console.log(result);
            });
        }
      };

    }]);


  </script>
</body>

</html>