<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

  <title>SupplierDetail</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row" style="height:60px">
      <div class="col-2">
        <h4>供应商详情</h4>
      </div>

      <div class="col-10" id='alertInfo'>

      </div>
    </div>

    <form>
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">名称</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" placeholder="供应商名称，必填" ng-model="supplierInfo.name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputRemark" class="col-sm-2 col-form-label">备注</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputRemark" placeholder="供应商备注信息" ng-model="supplierInfo.remark">
        </div>
      </div>

      <div class="form-group row" ng-hide="isAdd">
        <label for="inputCreateTime" class="col-sm-2 col-form-label">创建时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputCreateTime" readonly="readonly" ng-model="supplierInfo.createTime">
        </div>
      </div>

      <div class="form-group row" ng-hide="isAdd">
        <label for="inputEnable" class="col-sm-2 col-form-label">是否有效</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEnable" readonly="readonly" ng-model="supplierInfo.enableV">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-11">
          <button type="submit" class="btn btn-primary" ng-click="saveData()">{{isAdd?'添 加':'修 改'}}</button>
          <button type="button" class="btn btn-secondary" ng-click="back2List()">返 回</button>
        </div>
      </div>

    </form>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../lib/jquery/jquery.3.2.1.js"></script>
  <script src="../lib/popper/popper.1.12.9.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/angular-1.7.5/angular.min.js"></script>
  <script src="../common/littleCatCommon.js"></script>

  <script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {
      $scope.supplierInfo = {
        id: RequestUtil.getQueryParamByName('id')
      };

      //表单验证
      $scope.formValid = function () {
        var validResult = true;
        var firstFlag = true;

        var inputName = $('#inputName');
        if (StringUtil.isEmpty($scope.supplierInfo.name)) {
          inputName.addClass('is-invalid');
          if (firstFlag) {
            inputName.focus();
            firstFlag = false;
          }

          validResult = false;
        }
        else {
          inputName.removeClass('is-invalid');
        }

        return validResult;
      };


      if (StringUtil.isNotEmpty($scope.supplierInfo.id)) {
        //是否为新增
        $scope.isAdd = false;

        $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'supplier/getbyid?id=' + $scope.supplierInfo.id)
          .then(function (result) {  //正确请求成功时处理
            $scope.supplierInfo = result.data.data[0];
            $scope.supplierInfo.enableV = $scope.supplierInfo.enable == 'Y' ? '是' : '否';
          }).catch(function (result) { //捕捉错误处理
            console.log(result);
          });
      } else {
        $scope.isAdd = true;
      }

      $scope.back2List = function () {
        window.location = 'SupplierList.html';
      };

      $scope.saveData = function () {
        if (!$scope.formValid()) {
          return;
        }

        if ($scope.isAdd) {//新增

          $http.post(CommonConfig.RestBaseUrl.CaoBaoService + 'supplier/add', $scope.supplierInfo, CommonConfig.httpReqConfig)
            .then(function (result) {  //正确请求成功时处理
              window.location = 'SupplierList.html';
            }).catch(function (result) { //捕捉错误处理
              console.log(result);
            });
        }
        else {//修改

          $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'supplier/modify', $scope.supplierInfo, CommonConfig.httpReqConfig)
            .then(function (result) {  //正确请求成功时处理
              AlertUtil.successWithCloseButton('alertInfo', '修改成功！', AlertUtil.defaultTimeout);
            }).catch(function (result) { //捕捉错误处理
              AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！', AlertUtil.defaultTimeout);
              console.log(result);
            });
        }
      };

    }]);


  </script>
</body>

</html>