<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

  <title>Simple</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container-fluid">
    <input type='text' ng-model="carname" size="80" />
    {{carname}}
    <ul>
      <li ng-repeat="x in menuinfo">
        {{ x.id + ', ' + x.name }}
      </li>
    </ul>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../lib/jquery/jquery.3.2.1.js"></script>
  <script src="../lib/popper/popper.1.12.9.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/angular-1.7.5/angular.min.js"></script>

  <script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope, $http) {
      $scope.carname = "Volvo";
      $scope.names = [
        { name: 'Jani', country: 'Norway' },
        { name: 'Hege', country: 'Sweden' },
        { name: 'Kai', country: 'Denmark' }
      ];
      $scope.f = function () {
        $scope.carname = "init";
      };

      $scope.getMenu = $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'sys/menu/getbypid?pid=-1',
        {
          params: {
            // name: '张三',
            // age: 'abc'
          }
        }).then(function (result) {  //正确请求成功时处理
          $scope.menuinfo = result.data.data

          console.log(result);
        }).catch(function (result) { //捕捉错误处理
          console.log(result);
          alert(result.data.Message);
        });
    });

    function onSearch() {
      //通过controller来获取Angular应用
      var appElement = document.querySelector('[ng-controller=myCtrl]');
      //获取$scope变量
      var $scope = angular.element(appElement).scope();
      //调用msg变量，并改变msg的值
      // $scope.msg = '123456';
      //上一行改变了msg的值，如果想同步到Angular控制器中，则需要调用$apply()方法即可
      // $scope.$apply();
      //调用控制器中的getData()方法
      console.log($scope.getMenu());
    }




  </script>
</body>

</html>