<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <title>DeliveryFeeRuleMgr</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <!-- 页面标题 -->
        <div class="row" style="height:60px">
            <div class="col">
                <h4>物流费用设置</h4>
            </div>
            <div class="col-10" id='alertInfo'>

            </div>
        </div>


        <!-- 操作按钮 -->
        <div class="row">
            <div class="col" align="right">
                <button type="button" class="btn btn-success" ng-click='onAdd()'>添 加</button>
                <button type="button" class="btn btn-success" ng-click='onEnable()'>生 效</button>
                <button type="button" class="btn btn-danger" ng-click='onDisable()'>失 效</button>
            </div>
        </div>
        <hr />
        <!-- 数据区域 -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover" id="table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th scope="col"><input type="checkbox" id="cbxSelectAllOrCancel" ng-click="onSelectAllOrCancel()"></th>
                            <th scope="col" ng-hide={{true}}>ID</th>
                            <th scope="col">名 称</th>
                            <th scope="col">配送区域</th>
                            <th scope="col">计费方式</th>
                            <th scope="col">区间开始</th>
                            <th scope="col">区间结束</th>
                            <th scope="col">费用</th>
                            <th scope="col">创建人</th>
                            <th scope="col">创建时间</th>
                            <th scope="col">是否有效</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listData">
                            <td><input type="checkbox"></td>
                            <td ng-hide={{true}}>{{x.id}}</td>
                            <th scope="row"><a href="#" ng-click="onLoadDetail(x.id)">{{x.name}}</a></th>
                            <td>{{x.deliveryAreaName}}</td>
                            <td>{{x.calcTypeName}}</td>
                            <td>{{x.beginValue}}</td>
                            <td>{{x.endValue}}</td>
                            <td>{{x.fee}}</td>
                            <td>{{x.createOperatorName}}</td>
                            <td>{{x.createTime}}</td>
                            <td>{{x.enable=='Y'?'是':'否'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div id='myModal' class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">配送区域编辑</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">名称</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="inputName" ng-model="detailInfo.name">
                            </div>

                            <label for="inputName" class="col-sm-2 col-form-label">费用</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="inputFee" ng-model="detailInfo.fee">
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">配送区域</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="detailInfo.deliveryAreaId">
                                    <option value="-1" ng-selected>请选择...</option>
                                    <option ng-repeat="x in deliveryAreaListData" value="{{x.id}}">{{x.name}}</option>
                                </select>
                            </div>

                            <label for="inputName" class="col-sm-2 col-form-label">计费方式</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="detailInfo.calcType">
                                    <option value="-1" ng-selected>请选择...</option>
                                    <option ng-repeat="x in feeCalcTypeListData" value="{{x.id}}">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">区间开始</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="inputBeginValue" ng-model="detailInfo.beginValue">
                            </div>

                            <label for="inputName" class="col-sm-2 col-form-label">区间结束</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="inputEndValue" ng-model="detailInfo.endValue">
                            </div>

                        </div>

                        <div ng-hide="isAdd">
                            <div class="form-group row">
                                <label for="inputEnable" class="col-sm-2 col-form-label">创建人</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputEnable" readonly="readonly"
                                        ng-model="detailInfo.createOperatorName">
                                </div>

                                <label for="inputCreateTime" class="col-sm-2 col-form-label">创建时间</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputCreateTime" readonly="readonly"
                                        ng-model="detailInfo.createTime">
                                </div>

                            </div>

                            <div class="form-group row">

                                <label for="inputEnable" class="col-sm-2 col-form-label">是否有效</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputEnable" readonly="readonly"
                                        ng-model="detailInfo.enableV">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <div id='cityMgrAlertInfo'>

                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关 闭</button>
                    <button type="button" class="btn btn-primary" ng-click="saveData()" data-dismiss="modal">{{isAdd?'新
                        增':'修 改'}}
                    </button>
                </div>
            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../lib/jquery/jquery.3.2.1.js"></script>
    <script src="../lib/popper/popper.1.12.9.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/angular-1.7.5/angular.min.js"></script>
    <script src="../common/littleCatCommon.js"></script>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope, $http) {

            $('#myModal').on('hidden.bs.modal', function (e) {

            });

            $scope.getDeliveryAreaListData = function () {
                var data = {
                    "condition": {
                        "logicType": "and",
                        "condItems": [
                            {
                                "fieldName": "enable",
                                "opType": "equal",
                                "value": "Y"
                            }
                        ]
                    },
                    "sortFields": "name",
                    "sortType": "asc"
                };

                $http.post(CommonConfig.RestBaseUrl.CaoBaoService + 'delivery/area/getList', data, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.deliveryAreaListData = result.data.data;
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.getDeliveryFeeCalcTypeListData = function () {
                $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'delivery/feerule/getFeeCalcTypeList')
                    .then(function (result) {  //正确请求成功时处理
                        $scope.feeCalcTypeListData = result.data.data;
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };



            $scope.getData = function () {
                $scope.isAdd = true;
                $scope.detailInfo = {
                    id: '',
                    name: '',
                    deliveryAreaId: '-1',
                    calcType: '-1',
                    beginValue: 0,
                    endValue: 0,
                    fee: 0
                };

                $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'delivery/feerule/getList')
                    .then(function (result) {  //正确请求成功时处理
                        $scope.listData = result.data.data
                        console.log('getData:', result);
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.onSelectAllOrCancel = function () {
                TableUtil.selectAllOrCncel('table', !$scope.selectAll, 1, $scope.listData.length);
                $scope.selectAll = !$scope.selectAll;
            };

            $scope.onLoadDetail = function (id) {
                $http.get(CommonConfig.RestBaseUrl.CaoBaoService + 'delivery/feerule/getbyid?id=' + id)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.detailInfo = result.data.data[0];
                        $scope.detailInfo.enableV = $scope.detailInfo.enable == 'Y' ? '是' : '否';
                        $scope.isAdd = false;
                        $('#myModal').modal('show');
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            //重置记录的选择状态
            $scope.resetSelectStatus = function () {
                document.getElementById('cbxSelectAllOrCancel').checked = false;
                $scope.selectAll = false;
            }

            $scope.onAdd = function () {
                $('#myModal').modal('show');
            }

            //置失效
            $scope.onDisable = function () {
                $scope.resetSelectStatus();
                AlertUtil.clearAlert('alertInfo');

                var ids = TableUtil.getSelectedIds('table', 1, 1, $scope.listData.length);

                if (ids == null || ids.length == 0) {
                    AlertUtil.dangerWithCloseButton('alertInfo', '请选择待处理的数据！', AlertUtil.defaultTimeout);
                    return;
                }

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'delivery/feerule/batchdisable', ids, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        console.log(result);
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            //置生效
            $scope.onEnable = function () {
                $scope.resetSelectStatus();
                AlertUtil.clearAlert('alertInfo');

                var ids = TableUtil.getSelectedIds('table', 1, 1, $scope.listData.length);

                if (ids == null || ids.length == 0) {
                    AlertUtil.dangerWithCloseButton('alertInfo', '请选择待处理的数据！', AlertUtil.defaultTimeout);
                    return;
                }

                $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'delivery/feerule/batchenable', ids, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        console.log(result);
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.saveData = function () {
                if ($scope.isAdd) {//新增

                    $http.post(CommonConfig.RestBaseUrl.CaoBaoService + 'delivery/feerule/add', $scope.detailInfo, CommonConfig.httpReqConfig)
                        .then(function (result) {  //正确请求成功时处理
                            console.log('saveData:result', result);

                            if (result.data.code != 'NONE_ERROR') {
                                AlertUtil.dangerWithCloseButton('alertInfo', '添加失败！', AlertUtil.defaultTimeout);
                                return;
                            }

                            AlertUtil.successWithCloseButton('alertInfo', '添加成功！', AlertUtil.defaultTimeout);

                            $scope.getData();

                        }).catch(function (result) { //捕捉错误处理
                            AlertUtil.dangerWithCloseButton('alertInfo', '添加失败！', AlertUtil.defaultTimeout);
                            console.log(result);
                        });
                }
                else {//修改
                    $http.put(CommonConfig.RestBaseUrl.CaoBaoService + 'delivery/feerule/modify', $scope.detailInfo, CommonConfig.httpReqConfig)
                        .then(function (result) {  //正确请求成功时处理
                            if (result.data.code != 'NONE_ERROR') {
                                AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！', AlertUtil.defaultTimeout);
                                return;
                            }

                            AlertUtil.successWithCloseButton('alertInfo', '修改成功！', AlertUtil.defaultTimeout);

                            $scope.getData();
                        }).catch(function (result) { //捕捉错误处理
                            AlertUtil.dangerWithCloseButton('alertInfo', '修改失败！', AlertUtil.defaultTimeout);
                            console.log(result);
                        });
                }
            };


            //页面初始化
            $scope.selectAll = false;
            $scope.getDeliveryAreaListData();
            $scope.getDeliveryFeeCalcTypeListData();
            $scope.getData();
        });
    </script>

</body>

</html>